.module_thead {
  border: 1px solid black;
  background: antiquewhite;

  &_th {
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 100px;
    &_btn{
      background: none;
      border: none;
    }
    &_btn:after{
      content: '↕';
      display: inline-block;
      margin-left: 1em;
    }
  }

}
