.module_table {
  text-align: center;

}
.module_table th {
  padding: 8px 5px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
  background: antiquewhite;
  width: 100px;
}
.module_table__sort {
  border: none;
  background: none;
}
.module_table__sort:after{
  content: '↕';
  display: inline-block;
  margin-left: 1em;
}
